*{
    font-family: sans-serif;
    box-sizing: border-box;
}
#container{
    margin: 0 auto;
    width: 1000px;
    height: auto;
}
#banner{
    position: relative;
    width: 740px;
    height: 270px;
    float: right;
    border:0px solid;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
/* BANNER CSS */
#banner img{
    width: 100%;
    height: 100%;
}
#bannertextbox{
    margin: 0px;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.7);
}
#banner p{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
}
/* SIDE BAR CSS */
#sidebar{
    float: left;
    width: 250px;
    height:auto;
}
#logobox{
    display: block;
    padding-top: 35px;
    border:0px solid;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: #19e5e6;
    width: 250px;
    height: 270px;
}
#logobox img{
    width: 250px;
    height: 220px;
}
#popular{
    padding: 12px;
    margin-top:10px;
    height: 45px;
    background-color: #19e5e6;
    width: 250px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#popular p{
    margin: 0px;
    color: white;
    text-align: center;
}
#popularlist{
    margin-top: 10px;
}
#popularlist ul{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #eeeeee;
}
#popularlist li{
    border-bottom-style: dotted;
    border-bottom-color: #281e5a;
    border-bottom-width: thin;
}
#popularlist li:nth-of-type(even){
    background-color: #bdbdbd;
}
#popularlist li:last-child {
    border-bottom:none;
}
#popularlist li a{
    padding: 20px 16px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    color: #000;
}
#popularlist li a:hover{
    background-color: #2196f3;
    color: white;
}
/* MENU UTAMA CSS */
#menu{
    background-color: #19e5e6;
    margin-top: 10px;
    width: 740px;
    height:45px;
    float: right;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}
#menu ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    border-right:2px;
    height: 100%;
    float: right;
}
#menu li:last-child{
    border-right: none;
}
#menu li a:hover {
    height: 100%;
    background-color: #2196f3;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
/*CONTENT*/
#content{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 740px;
    height: auto;
    float: right;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background: #eeeeee;
    padding: 10px;
}
.h1content{
    padding-left: 10px;
    padding-right:10px;
}
.pcontent{
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
/* CONTENT - BERANDA */
.news {
    position: relative;
    margin-left: 10px;
    display: inline-block;
}
.news p a{
    color: black;
    text-decoration: none;
}
.newshead{
    font-weight: bold;
}
.news img{
    width: 205px;
    height: 100px;
    margin-left: 10px;
    margin-right: 7px;
}
/* CONTENT - PROFILE PENGAJAR */
/* search */
form.searchpengajar input[type=text] {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 350px;
    background: white;
  }
  
form.searchpengajar button {
    margin-left: 5px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #19e5e6;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
  
form.searchpengajar button:hover {
    background: #2196f3;
}
 
form.searchpengajar::after {
    content: "";
    clear: both;
    display: table;
}

/* List Pengajar */
.daftar-pengajar{
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    width: auto;
}
.pengajar {
    margin-right: 50px;
}
.pengajar img{
    width: 120px;
    height: 150px;
    float: left;
}
.pengajar p{
    font-weight: bold;
}
.namapengajar{
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}
.biodata ul {
    margin: 0px;
    float: left;
    position: relative;
}
.biodata ul li {
    list-style: none;
}
.tampil{
    background-color: #19e5e6;
    color: white;
    width: 200px;
    height: 40px;
}
/* CONTENT - KONTAK PEMBUAT WEBSITE */

/*FOOTER*/
#clear{
    clear: both;
}
#footer{
    margin-top: 10px;
    width: auto;
    height: 90px;
    background-color: #19e5e6 ;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 22px;
}
#footer p {
    margin: 0px;
    color:white;
    text-align: center;
}